recursive-include csrc/catlass *.h *.hpp *.cpp
prune csrc/catlass/tests
prune csrc/catlass/examples
prune csrc/catlass/benchmarks

recursive-include csrc/arch22/flash_attn_npu_v2 *.h *.hpp *.cpp
recursive-include csrc/arch22/flash_attn_npu_v3 *.h *.hpp *.cpp

# Ascend 950 
recursive-include csrc/arch35/flash_attn_npu_v3 *.h *.hpp *.cpp