global-exclude .*
prune .github

recursive-include csrc/arch22 *.h *.hpp *.cpp *.aicpu
recursive-include csrc/arch35 *.h *.hpp *.cpp *.aicpu
recursive-include csrc/catlass/include *.h *.hpp *.cpp
recursive-include csrc/catlass/tools/library *.h *.hpp *.cpp